.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 170px;
}

.addNewJobModal{
    width: 300px;
    background-color: #E6E8E6;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.addNewJobModal input{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid;
}
.addNewJobModal select{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid;
}

.addNewJobModal button{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid;
}