.modal{
    top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    
}

.addNewJobModal{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: #f3f3ea;
    color: #244235;

}

.addNewJobModal h3{
    font-size: 22px;
    font-weight: 400;

}

.addNewJobModal input{
    width: 230px;
    height: 30px;
    border-radius: 10px;
    border: 1.7px solid;
    background-color: #f3f3ea;
    border-color: #6d8777;

}

.addNewJobModal input::placeholder{
    color: #45624e;

}

.addNewJobModal select{
    width: 238px;
    height: 35px;
    border-radius: 10px;
    border: 1.7px solid;
    background-color: #f3f3ea;
    border-color: #6d8777;

}

.addNewJobModal button{
    width: 180px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: 0px;
    font-size: 14px;
    background-color:#6d8777;
    color: #f3f3ea;

}

